
/* Your CSS Code here. */
        .holder{
            display: grid;
            border: 2px solid black;
            size: 200px;
            grid-template-columns: 100px 100px;
        }
        .item{
            margin: 5px ;
            border: 2px solid orange;
            text-align: center;
        }